<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Perfil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img class="icon-class ion-margin" src="./../../assets/img/perfil.png" alt="icono" height="100" width="100" />


    <!--CARD DE DESCRIPCION DE PERFIL-->
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Tecnología</ion-card-subtitle>
            <ion-card-title>Michael Acosta</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-textarea rows="5" value=" Hola, soy estudiante de la carrera de Administración de Empresas, tengo experiencia en Atención al Cliente, Almacenamiento de Archivos y Recursos Humanos y en Área de Ventas"></ion-textarea>
        </ion-card-content>

        <ion-card>
            <ion-chip>
                <ion-label color="secondary">Archivo</ion-label>
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
                <ion-label color="secondary">Psicología</ion-label>
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
                <ion-label color="secondary">Contrataciones</ion-label>
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
                <ion-label color="secondary">Office</ion-label>
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-label position="floating">Digita tu Skill</ion-label>
                <ion-input (keyup.enter)="keyValueEvent(inputSkills.value)" #inputSkills></ion-input>
            </ion-item>

            <ion-chip *ngFor="let chip of skills">
                <ion-label color="secondary">{{chip}}</ion-label>
            </ion-chip>
        </ion-card>
    </ion-card>

    <div style="text-align: center;">
        <ion-button class="button-margin-login-class" shape="round" (click)="butonMenu()">Guardar</ion-button>
    </div>
    <app-explore-container name="Perfil"></app-explore-container>
</ion-content>