<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tutorias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar placeholder="Buscar" [(ngModel)]="filter" (keyup)="updateList($event)"></ion-searchbar>

    <ion-list>
        <ion-list-header>
            Resultados de la busqueda...
        </ion-list-header>

        <ion-item *ngFor="let user of users" (click)="sendToChat(user)">
            <ion-avatar slot="start">
                <img src="./../../assets/img/skills.png">
            </ion-avatar>
            <ion-label style="width:300px">
                <h2>{{user.nombre }}</h2>
                <p>{{ (user.skills ) ? user.skills.join(' , ') : 'Sin Skills'}}</p>
            </ion-label>
            <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>
        </ion-item>
        <ion-list-header>
            Fin de Resultados
        </ion-list-header>


    </ion-list>

</ion-content>