<ion-header>
  <ion-toolbar primary>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mensaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="chat-autoscroll">
  <ion-list>
    <ion-item *ngFor="let item of  messages ">
      <div [ngClass]=" (userEmisor.correo == item.emisor ) ? 'bubble-send' : 'bubble-input'">
        {{item.mensaje}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-textarea rows="1" maxLength="500" [(ngModel)]="messageInput" (keyup.enter)="sendMessage()"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button  fill="clear" (click) = "sendMessage()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>