.color-send-icon {
    color: green;
}

.bubble-input{
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
    background: slateblue;
}

.bubble-send{
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
    background: #0092FF;
    display: block;
    margin: 0 0 0 auto;
}