.ios {
    --ion-padding:30px;
  }
  
  /* Set text color of the entire app for Material Design only */
  .md {
    --ion-padding:30px;
  }

  .icon-class{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: block;
  }

  .button-margin-login-class{
    margin: auto;
    display: block;
  }
  .list-margin-category{
    margin: auto;
    margin-top: 1rem;
  }
  .input-class{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: block;
  }

  .icon-border{
    border-radius: 50%;
  }